@charset "UTF-8";
/*Подключения css-стили*/
/*--------------------*/
/*-Google_Fonts-*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Sansita+Swashed:wght@300;400;700&display=swap");
/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #212121;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
header {
  background: url(img/header_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-height: 100%;
  padding-bottom: 100px;
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }
  .content {
    margin: 0 auto !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  height: 100%;
}

.container .content {
  margin: 0 0 0 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .content .header__logo {
  width: 120px;
  margin-top: 80px;
}

.container .content .header__logo img {
  width: 120px;
}

.container .content .tittle {
  text-transform: uppercase;
  color: #9baf6d;
  font-family: "Montserrat";
  padding: 80px 0;
}

.container .content .tittle p {
  font-size: 28px;
  font-weight: 400;
}

.container .content .tittle h2 {
  font-size: 48px;
  font-weight: bold;
}

.container .content .header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 90px;
  font-size: 48px;
  font-family: "Montserrat";
  color: #9baf6d;
  background: rgba(155, 175, 109, 0.3);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container .content .header__link:hover {
  color: #d0f37f;
  background: rgba(155, 175, 109, 0.5);
}

.container .nav {
  padding-top: 60px;
}

.container .nav ul {
  cursor: pointer;
  margin: 0 0 0 auto;
  width: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .nav ul a {
  margin-right: 25px;
  font-size: 30px;
  font-family: "Montserrat";
  color: #9baf6d;
  text-align: left;
  opacity: 0.78;
}

.container .nav ul a:hover {
  color: #d0f37f;
  border-bottom: 2px solid #d0f37f;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.container .actually__cook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 450px;
  background: url(/img/sectionOne.png) no-repeat 100% 100%;
}

.container .actually__cook .actually__cook__text {
  width: 45%;
  margin: 0 5%;
  text-align: left;
}

.container .actually__cook .actually__cook__text h2 {
  font-family: "Sansita Swashed", serif;
  font-size: 30px;
  color: #9baf6d;
  margin-bottom: 40px;
}

.container .actually__cook .actually__cook__text p {
  font-size: 18.75px;
  font-family: "Montserrat" light;
  color: white;
  line-height: 1.556;
}

.scills__wrap {
  height: auto;
  padding: 100px 0;
  background-color: rgba(175, 198, 123, 0.5);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scills__wrap .scills__content {
  width: 30%;
  margin: 0 10px;
  text-align: left;
  color: #eaeaea;
}

.scills__wrap .scills__content .scills__tittle {
  position: relative;
  padding: 30px 0;
  font-size: 25px;
  font-family: "Sansita Swashed", serif;
}

.scills__wrap .scills__content .scills__subtittle {
  font-size: 16px;
  font-family: "Montserrat", serif;
  line-height: 1.5;
}

.next-page {
  height: 500px;
  width: 100%;
  background-color: #afc67b;
}
/*# sourceMappingURL=main.css.map */