/*Подключения css-стили*/
// @import url("header.css");

// @import url("style.css");

// @import url("footer.css");
/*--------------------*/

/*-Google_Fonts-*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Sansita+Swashed:wght@300;400;700&display=swap');
$Montserrat: "Montserrat", serif;
$Sansita: "Sansita Swashed", serif;
/*--------------------*/



/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #212121;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

$color_main:  rgb( 155, 175, 109 );
$color_subMain: rgb(208, 243, 127);
header{
   background: url(img/header_bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   // height: 1000px;
   // max-height: 100%;

   max-height: 100%;
   padding-bottom: 100px;
   
}

@media(max-width: 800px){
   .nav{
      display: none;
   }
   .content{
      margin: 0 auto !important;
      align-items: center;
   }
}
.container{
   width: 100%;
   max-width: 1450px;
   margin: 0 auto;
   height: 100%;
   .content{
      margin: 0 0 0 60%;
      // width: 380px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      .header__logo{
            width: 120px;
            margin-top: 80px;
         img{
            width: 120px;
         }        
      }
      .tittle{
         text-transform: uppercase;
         color: $color_main;
         font-family: "Montserrat";
         padding: 80px 0;
      p{
         
         font-size: 28px;
         font-weight: 400;
            
      }
      h2{   
         font-size: 48px;
         font-weight: bold;
      }
      }
      .header__link{    
         display: flex;
         justify-content: center;
         align-items: center;
         width: 280px;
         height: 90px;
         font-size: 48px;
         font-family: "Montserrat";
         color: $color_main;
         background: rgba(155, 175, 109, .3);
         transition: .3s ease;
         &:hover{
            color: $color_subMain;
            background: rgba(155, 175, 109, .5);

         }
      }
   }
   .nav{
        
        padding-top: 60px;

      ul{
         cursor: pointer;
         margin: 0 0 0 auto;
         width: 740px;
          display: flex;
          justify-content: flex-end;

         
      a{     
         margin-right: 25px;         
         font-size: 30px;
         font-family: "Montserrat";
         color: $color_main;
         text-align: left;
         opacity: 0.78;
         &:hover{
            color: $color_subMain;
            border-bottom: 2px solid $color_subMain;
            transition: color .3s;
         }
      }
      }
   }
   .actually__cook{
      display: flex;
      justify-content: space-between;
      align-items: center;
      


      min-height: 450px;

      background: url(/img/sectionOne.png) no-repeat 100% 100%;

      .actually__cook__text{
         width: 45%;
         margin:0 5%;
         // max-width: 540px;        
         text-align: left;
         h2{
            font-family: $Sansita;
            font-size: 30px;
            color: $color_main;  
            margin-bottom: 40px;   
         }
         p{
            
            font-size: 18.75px;
            font-family: "Montserrat" light;
            color: rgb( 255, 255, 255 );
            line-height: 1.556;
         }
      }
   }  
}

.scills__wrap{
      height: auto;
      padding: 100px 0;
      background-color: rgba( 175, 198, 123, .5);
      // background-color: rgba( 0,0,0, .8);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      .scills__content{
         width: 30%;
         margin: 0 10px;
         text-align: left;
         color: rgb( 234, 234, 234 );
         .scills__tittle{
            position: relative;
            padding: 30px 0;
            font-size: 25px;
            font-family: $Sansita;
         //    &:after{
         //    content: '';
         //    position: absolute;
         //    top: -15px;
         //    left: 0;
         //    background-image: url(/img/brush.png);
         //    background-repeat: no-repeat;
         //    background-size: cover;
         //    width: 28px;
         //    height: 35px;

         // }

         } 
         .scills__subtittle{
            font-size: 16px;
            font-family: $Montserrat;
            line-height: 1.5;
         }      
      }
   }

.next-page{
   height: 500px;
   width: 100%;
   background-color: rgb( 175, 198, 123 );
}