/*Подключения css-стили*/
// @import url("header.css");

// @import url("style.css");

// @import url("footer.css");
/*--------------------*/

/*-Google_Fonts-*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Sansita+Swashed:wght@300;400;700&display=swap');
$Montserrat: "Montserrat", serif;
$Sansita: "Sansita Swashed", serif;
/*--------------------*/



/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #212121;
    p{
       color: #eaeaea;
    }
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

$color_main:  rgb(175, 198, 123);
$color_subMain: rgb(208, 243, 127);
header{
   background: url(../img/header_bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   height: 100%;
   max-height: 1000px;
   box-shadow: inset 0px -22px 45px 0px black
}

@media(max-width: 800px){
   .nav{
      display: none;
   }
   .content{
      margin: 0 auto !important;
      align-items: center;
   }
   
}
@media(max-width: 550px){
   .tradition__item{
         width: 100% !important;
         min-width: 100% !important;
         border-bottom: 1px solid $color_main;
   }
}
.container{
   width: 100%;
   max-width: 1760px;
   margin: 0 auto;
   height: 100%;
   padding: 0 10px;
   .content{
      margin-left: auto;
      max-width: 540px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      .header__logo{
            width: 120px;
            margin-top: 80px;
         img{
            width: 120px;
         }        
      }
      .tittle{
         text-transform: uppercase;
         color: $color_main;
         font-family: "Montserrat";
         padding: 80px 0;
      p{
         
         font-size: 28px;
         font-weight: 400;
            
      }
      h2{   
         font-size: 48px;
         font-weight: bold;
      }
      }
      .header__link{    
         display: flex;
         justify-content: center;
         align-items: center;
         width: 280px;
         height: 90px;
         font-size: 48px;
         font-family: "Montserrat";
         color: $color_main;
         background:rgba(78, 83, 66, .5);
         transition: .3s ease;
         &:hover{
            color: $color_subMain;
            background: rgba(155, 175, 109, .5);

         }
      }
   }
   .nav{
        padding-top: 60px;
      ul{
         cursor: pointer;
         margin: 0 0 0 auto;
         width: 740px;
          display: flex;
          justify-content: space-around;
         a{     
            margin-right: 25px;         
            font-size: 30px;
            font-family: "Montserrat";
            color: $color_main;
            text-align: left;
            opacity: 0.78;
            &:hover{
               color: $color_subMain;
               border-bottom: 2px solid $color_subMain;
               transition: color .3s;
            }
         }
      }
   }
   .actually__cook{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 450px;
      background: url(../img/sectionOne2.png) no-repeat 100% 100%;
      .actually__cook__text{
         width: 50%;
         margin-left:5%;      
         text-align: left;
         h2{
            font-family: $Sansita;
            font-size: 30px;
            color: $color_main;  
            margin-bottom: 40px;   
         }
         p{
            font-size: 18.75px;
            font-family: $Montserrat;
            color: rgb( 255, 255, 255 );
            line-height: 1.556;
         }
      }
   }  
}

.scills__wrap{
   height: auto;
   padding: 100px 0;;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: center;
   .scills__content{
      width: 33.3333%;
      padding: 0 100px;
      text-align: left;
      color: rgb( 234, 234, 234 );
      .scills__tittle{
         position: relative;
         padding: 30px 0;
         font-size: 25px;
         font-family: $Sansita;
      } 
      .scills__subtittle{
         font-size: 16px;
         font-family: $Montserrat;
         line-height: 1.5;
      }      
   }
}

.bg-green{
   background: rgba(78, 83, 66, .5);
}

.tradition{
   .tradition__tittle{
      margin-top: 85px;
      padding: 65px 10px;
      text-align: center;
      h2{
            
         font-size: 25.067px;
         font-family: $Sansita;
         color: $color_main;
      }
      p{
               
         font-size: 16.667px;
         font-family: $Montserrat;
         color: rgb( 234, 234, 234 );
         line-height: 1.5;
         text-transform: uppercase;
      }
   }
   .tradition__item__wrap {
   display: flex;
   justify-content: space-around;
   flex-flow:wrap;
   margin-bottom: 85px;
   .tradition__item{
      display: flex;
         width: 50%;
         min-width: 550px;
         &:nth-child(4n+4),&:nth-child(4n+3){
            flex-direction: row-reverse;
         }
         h2{
            padding-top: 65px;
            align-items: center;
            font-size: 25px;
            font-weight: 600;
            font-family: $Sansita;
            color: $color_main;
            line-height: 1.33;
            text-align: center;
         }
         p{
            font-size: 25px;
            font-family: $Montserrat;
            color: rgb( 234, 234, 234 );
            line-height: 1.5;
            text-align: center;
            text-transform: uppercase;
         }
         img{
            min-width: 50%;
            
         }
         .tradition__item__info{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-self: center;
            padding: 0 10px;
            font-family: $Sansita;
            h3{
               font-size: 26px;
               color: rgb( 175, 198, 123 );
            }
            p{
               padding: 25px 0;
               font-size: 16px;
               font-family: $Montserrat;
               color: rgb( 232, 232, 232 );
            }
            span{
               font-size: 22px;
               color: rgb( 232, 232, 232 );
               text-transform: uppercase;
            }
         }
      }
   }
}


.keep__things__simple{
   padding-bottom: 95px;
   align-items: center;
   text-align: center;
   h2{
      padding-top: 110px;
      font-size: 41px;
      font-family: $Sansita;
      color: $color_main;
   }
   p{
      margin: 0 auto;
      max-width: 700px;
      padding: 35px 0 20px;
      font-size: 20px;
      font-family: $Montserrat;
      color: rgb( 220, 220, 219 );
   }
   span{
      display: inline-block;
      margin: 0 auto;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: $color_main;
      transform: rotate3d(2, 5, -1, 40deg);
      
   }
}

.discover__menu-bg{
      background: url(../img/keepThingsSimpl_bg.jpg) no-repeat 100% 100%;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
   .discover__menu {
      
      
         .menu__tittle {

            padding-top:250px;
            align-items: center;
            text-align: center;
            color: rgb( 231, 231, 231 );
            h2{
               font-size: 150px;
               font-family: "GoodDog";
            }
            p{
               font-size: 60px;
               font-family: $Montserrat;   
               text-transform: uppercase;
   
            }

      }
      .menu__list {
         padding-bottom: 250px;    //------------------------------------
            .menu__list__wrap {
               display: flex;
               justify-content: space-between;
               flex-wrap: wrap;
               max-width: 1100px;
               margin: 0 auto;

               .menu__list__item {
                  
                  display: flex;
                  min-height: 120px;
                  align-items: center;
                  img{
                     height: fit-content;
                     
                  }
                  
                  .menu__list__item__info {
                     text-align: left;
                     color: rgb( 231, 231, 231 );
                     max-width: 350px;
                     padding-left: 10px;
                  h3{
            
                     font-size: 22px;
                     font-family: $Sansita;
                     }
                  p{
                     padding-top: 20px;
                     font-size: 16px;
                     font-family: $Montserrat;
                     
                     span{
                        color: #fff;
                     }
                  }

               }
            }
         }
      }
   }
}



.form__tittle{
   padding: 45px 0;
  font-size: 65px;
  font-family: $Sansita;
  color: rgb( 255, 255, 255 );
  text-align: center;

}
.form__wrap{   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   .form__item{
      position: relative;
      text-align: center;
      width: 33.333%;
      color: #fff;
      padding-bottom: 45px;
      
      input,select{
         width: 230px;
         height: 30px;
         padding: 0 5px;
         color: #fff;
         background-color: rgba(0, 0, 0, 0);
         border: 1px solid #fff;
         border-radius: 10px;
         &:internal-autofill-selected{
            background-color: rgba(0, 0, 0, 0);
         }
         option{
            color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0);

         }
      }
      label,span{
         position: absolute;
         top: -20px;
      }
   }
}






.fon{
   img{
      max-width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      left: 50%;
      transform: translate(-50%,0);
   }
}
   
.next-page{
   height: 500px;
   width: 100%;
   background-color: rgb( 175, 198, 123 );
}
