/*Подключения css-стили*/
// @import url("header.css");

// @import url("style.css");

// @import url("footer.css");
/*--------------------*/

/*-Google_Fonts-*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Sansita+Swashed:wght@300;400;700&display=swap');
$Montserrat: "Montserrat", serif;
$Sansita: "Sansita Swashed", serif;
/*--------------------*/



/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #212121;
    p{
       color: #eaeaea;
    }
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

$color_main:  rgb(175, 198, 123);
$color_subMain: rgb(208, 243, 127);


@media(max-width: 800px){
   .header__nav{
      display: none;
   }
   .header__mobile__nav{
      display: block !important;
      
   }
   .content{
      padding-left: 0 !important;
   }
   
}
@media(max-width: 1100px){
   
   .tradition__item{
         width: 100% !important;
         border-bottom: 1px solid #cccccc;
   }
}
@media(max-width: 600px){
   
   
   .menu__tittle {
      padding-top: 30px !important;
            h2{
               font-size: 75px !important ;
            }
            p{
               font-size: 40px !important;
            }
   }
   .footer__row{
      padding: 20px 10px !important;
   }
   .actually__cook{
      background: none !important;
      .actually__cook__text{
         width: 100% !important;
         margin: 0 10px !important;
      }
   }
}
.block{
   overflow: hidden;
}
.container{
   width: 100%;
   max-width: 1760px;
   margin: 0 auto;
   padding: 0 10px;
}

.header {
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 50%;
   transform: translate(-50%,0%);
   height: max-content;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   

   background: rgba(78, 83, 66, 0);
   transition: all .3s ease-in;
   .header__logo{
      height: -webkit-fill-available;
   }
   
   .header__nav {

      .header__nav__list {

         display: flex;
         .header__nav__item {
            text-transform: uppercase;
            font-family: $Montserrat;
            font-size: 30px;
            margin: 0 10px;
            transition: all 1s;
            &:hover{
                  text-decoration: underline;
               }
            a{
               color: $color_main;
            }
            
         }
      }
      
   }









   .header__mobile__nav {
      display: none;
      
      
      .hamburger{
         
         position: relative;
         z-index: 1000;
         cursor: pointer;
         span{
         transition: all .5s;
         position: relative;
         border-radius: 3px;
         margin: 4px 0;
         display: block;
         width: 35px;
         height: 5px;
         background: #fff;
         }   
      }
      .active{
         span{
               &:nth-child(1){
               top: 7px;
               transform: rotate(135deg)
            }
               &:nth-child(2){
               transform: scale(0)
            }
               &:nth-child(3){
                  bottom: 10px;
               transform: rotate(-135deg)
            }
         }
      }

      .mobile__nav{
         // &::after{
         //    content: '';
         //    position: absolute;
         //    width: 100%;
         //    height: 100vh;
         //    top: 0;
         //    left: 0;
         //    background: rgba(0, 0, 0, 0.2);
         // }
         .mobile__nav__list {
         
            transition: 1s;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.9);
            transform: translateX(100%);
            .mobile__nav__item {
               
               &:nth-child(1){
                  padding-top: 80px;
            }
               a{
               padding: 20px;
               display: list-item;
               text-transform: uppercase;
               font-family: $Montserrat;
               font-size: 20px;
               font-weight: 400;
               box-shadow: inset 0px 0px 20px 1px $color_main;
               color: $color_main;
                  
               }
               
         }
         
         }
         .open{
            transform: translateX(0);
            
            .mobile__nav__item {

            &:nth-child(1){
                  // padding-top: 100px;
            }
            }
         }
      }
      
      
   }
}















.content{
   padding-left: 50%;
   padding-top: 100px;
   text-align: center;
   background: url(../img/header_bg.jpg) no-repeat;
   background-size: cover;
   width: 100%;
   height: 100vh;
   max-height: 1000px;
   
   .tittle{
      text-transform: uppercase;
      color: $color_main;
      font-family: "Montserrat";
      padding: 80px 0;
      p{
         
         font-size: 28px;
         font-weight: 400;
            
      }
      h2{   
         font-size: 48px;
         font-weight: bold;
      }
   }
   .header__link{
      padding: 20px; 
      align-items: center;
      width: 280px;
      height: 90px;
      font-size: 48px;
      font-family: "Montserrat";
      color: $color_main;
      background:rgba(78, 83, 66, .5);
      transition: .3s ease;
      &:hover{
      border: 2px solid $color_main;
      color: #fff;
      box-shadow: inset 320px 0px 0px 0px rgb( 175, 198, 123 ) ; 
      border-radius: 10px;
      }
   }
}
.what-we-cook{
   padding: 0;
   .actually__cook{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 450px;
      background: url(../img/sectionOne2.png) no-repeat 100% 100%;
      
      .actually__cook__text{
         width: 50%;
         margin-left:5%;      
         text-align: left;
         h2{
            font-family: $Sansita;
            font-size: 30px;
            color: $color_main;  
            margin-bottom: 40px;   
         }
         p{
            font-size: 18.75px;
            font-family: $Montserrat;
            color: rgb( 255, 255, 255 );
            line-height: 1.556;
         }
      }
   }  
}

.scills__wrap{
   padding: 100px 0px;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   .scills__content{
      position: relative;
      top: 0;
      padding: 10px 10px;
      width: 33.3333%;
      min-width: 300px;
      text-align: center;
      color: rgb( 234, 234, 234 );
      transition: .4s;
      &:hover{
         top: -5px;
         color: #fff;
         box-shadow: 0px 0px 10px 1px rgb( 175, 198, 123 ) ;  
      }
      .scills__tittle{
         position: relative;
         padding: 30px 0;
         font-size: 25px;
         font-family: $Sansita;
      } 
      .scills__subtittle{
         font-size: 16px;
         font-family: $Montserrat;
         line-height: 1.5;
      }      
   }
}
.bg-green{
   background: rgba(78, 83, 66, .5);
}
.tradition{
   padding: 0;
   .tradition__tittle{
      margin-top: 85px;
      padding: 65px 10px;
      text-align: center;
      h2{
         font-size: 25.067px;
         font-family: $Sansita;
         color: $color_main;
      }
      p{
         font-size: 16.667px;
         font-family: $Montserrat;
         color: rgb( 234, 234, 234 );
         line-height: 1.5;
         text-transform: uppercase;
      }
   }
   .tradition__item__wrap {
   display: flex;
   justify-content: center;
   flex-flow:wrap;
   margin-bottom: 85px;
   .tradition__item{
      display: flex;
         width: 50%;
         &:nth-child(4n+4),&:nth-child(4n+3){
            flex-direction: row-reverse;
         }
         h2{
            padding-top: 65px;
            align-items: center;
            font-size: 25px;
            font-weight: 600;
            font-family: $Sansita;
            color: $color_main;
            line-height: 1.33;
            text-align: center;
         }
         p{
            font-size: 25px;
            font-family: $Montserrat;
            color: rgb( 234, 234, 234 );
            line-height: 1.5;
            text-align: center;
            text-transform: uppercase;
         }
         img{
            min-width: 50%;
         }
         .tradition__item__info{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-self: center;
            padding: 0 10px;
            font-family: $Sansita;
            h3{
               font-size: 26px;
               color: rgb( 175, 198, 123 );
            }
            p{
               padding: 25px 0;
               font-size: 16px;
               font-family: $Montserrat;
               color: rgb( 232, 232, 232 );
            }
            span{
               font-size: 22px;
               color: rgb( 232, 232, 232 );
               text-transform: uppercase;
            }
         }
      }
   }
}


.keep__things__simple{
   padding-bottom: 95px;
   align-items: center;
   text-align: center;
   h2{
      padding-top: 110px;
      font-size: 41px;
      font-family: $Sansita;
      color: $color_main;
   }
   p{
      margin: 0 auto;
      max-width: 700px;
      padding: 35px 0 20px;
      font-size: 20px;
      font-family: $Montserrat;
      color: rgb( 220, 220, 219 );
   }
   span{
      display: inline-block;
      margin: 0 auto;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: $color_main;
      transform: rotate3d(2, 5, -1, 40deg);
   }
}

.discover__menu-bg{
      background: url(../img/keepThingsSimpl_bg.jpg) no-repeat 100% 100%;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      position: relative;
      &::after{
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         z-index: 1;
         background: rgba(0, 0, 0, 0.5);
      }
   .discover__menu {
      position: relative;
      z-index: 10;
      .menu__tittle {
         padding-top:120px;
         align-items: center;
         text-align: center;
         color: rgb( 231, 231, 231 );
         h2{
            font-size: 150px;
            font-family: $Sansita;
         }
         p{
            font-size: 60px;
            font-family: $Montserrat;   
            text-transform: uppercase;
         }
      }
      .menu__list {
         padding-bottom: 120px;
            .menu__list__wrap {
               display: flex;
               justify-content: center;
               flex-wrap: wrap;
               max-width: 1100px;
               margin: 0 auto;
               .menu__list__item {
                  padding:20px;
                  display: flex;
                  min-height: 120px;
                  align-items: center;
                  
                  img{
                     height: fit-content;
                  }
                  .menu__list__item__info {
                     text-align: left;
                     color: rgb( 231, 231, 231 );
                     max-width: 350px;
                     padding-left: 10px;
                  h3{
                     font-size: 22px;
                     font-family: $Sansita;
                  }
                  p{
                     padding-top: 20px;
                     font-size: 16px;
                     font-family: $Montserrat;
                     span{
                        color: #fff;
                     }
                  }
               }
            }
         }
      }
   }
}


.bg__{
   background: url(../img/bg_03.jpg) no-repeat 100% 100%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
}
.form__tittle{
   padding: 45px 0;
  font-size: 65px;
  font-family: $Sansita;
  color: rgb( 255, 255, 255 );
  text-align: center;

}
.form__wrap{   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   .btn-submit{
      cursor: pointer;
      font-size: 20px;
      text-transform: uppercase;
      transition: .3s;
      &:hover{
         border: 1px solid $color_main;
         color: #fff;
         box-shadow: inset 230px 0px 0px 0px rgb( 175, 198, 123 ) ; 
      }
   }

   .form__item{
      position: relative;
      text-align: center;
      min-width: 30%;
      color: #fff;
      margin-bottom: 45px;
      margin-left: 10px;
      margin-right: 10px;
      input,select{
         width: 230px;
         height: 30px;
         padding: 0 5px;
         color: #fff;
         background-color: rgba(0, 0, 0, 0);
         border: 1px solid #fff;
         border-radius: 10px;
         &:internal-autofill-selected{
            background-color: rgba(0, 0, 0, 0);
         }
         option{
            color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
         }
         &:focus{
            background:$color_main;
            color: #000;
            
         }
      }
      label,span{
         position: absolute;
         top: -20px;
      }
   }
}



.news {
   .news__tittle {
      align-items: center;
      text-align: center;
      color: rgb( 231, 231, 231 );
      h2{
      padding-top: 65px;
      align-items: center;
      font-size: 25px;
      font-weight: 600;
      font-family: $Sansita;
      color: $color_main;
      line-height: 1.33;
      text-align: center;
      }
      p{
         font-size: 25px;
         font-family: $Montserrat;
         color: rgb( 234, 234, 234 );
         line-height: 1.5;
         text-align: center;
         text-transform: uppercase;
      }
   }
   .news__items {
      position: relative;
      min-width: 0;
      max-width: 1095px;
      margin: 0 auto;
      height: 515px;
      overflow: hidden;
      .news-item__wrap {
         min-width: 0;
         width: 340px !important;
         margin: 10px;
         background-color: #eaeaea;
         font-family: $Montserrat;
         color: rgb( 85, 85, 85 );
         text-align: left;
            img{
               min-width: -webkit-fill-available;
            }
            .news-item__time {
            padding: 25px 25px;
            font-size: 14px;
            font-weight: bold;
            
         }
         .news-item__tittle {
            padding: 0px 25px 10px;
            font-size: 16.667px;
            font-weight: bold;

         }
         .news-item__subtittle {
            padding: 0 25px;
            font-size: 16.667px;
         }
         .news-item__btn {
            a{
            margin: 25px 25px 10px;
            text-transform: uppercase;
            font-size: 20px;
            font-family: $Montserrat;
            color: rgb( 85, 85, 85 );
            font-weight: bold;
            line-height: 2.357;
            text-align: left;
            transition: .2s;
               &:hover{
               border-bottom: 4px solid $color_main;
               }
            }
         }
      }
   }
}



.social__media{
   margin: 30px auto;
   text-align: center;
      .social__tittle {
      font-size: 83.333px;
      font-family: $Sansita;
      color: rgb( 175, 198, 123 );
      text-align: left;
      width: 31px;
      height: 24px;
      }
   .social__text {
      max-width: 700px;
      margin: 20px auto;
      font-size: 18px;
      font-family: $Montserrat;
      color: rgb( 170, 192, 120 );
      span{
         padding-top: 20px;
         font-size: 29px;
         font-family: $Sansita;
         color: rgb( 175, 198, 123 );
         line-height: 1.143;
      }
   }
   .social__icon{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      svg{
      cursor: pointer;
      margin: 0 20px;
      height: 50px;
      width: 50px;
      fill: #eaeaea;
      border-radius: 50%;
      }
      svg:hover{
         animation: svg-animation .4s forwards;
      }
   }
}

// footer
.footer {

   .footer__row {
      padding: 70px 10px;
      display: flex;
      justify-content: space-around;
      max-width: 1000px;
      flex-wrap: wrap;
      p{
         max-width: 340px;
         padding-bottom: 20px;
      }
      a{
         font-size: 18.75px;
         font-family: $Montserrat;
         color: rgb( 231, 231, 231 );
         line-height: 1.556;
         text-align: left;
         transition: .4s;
            &:hover{
               text-decoration: underline;
               color: $color_main;
            }
         }
   
      .footer-row__col {
         margin: 0 20px;
            .footer__col__tittle {
               margin: 50px 0;
            font-size: 25px;
            font-family: $Montserrat;
            color: rgb( 231, 231, 231 );
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.333;
            text-align: left;
            
            }
         .footer__col__text {      
         font-size: 18.75px;
         font-family: $Montserrat;
         color: rgb( 231, 231, 231 );
         line-height: 1.556;
         text-align: left;
         }
      }
      .footer__col-left{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         .footer__col__item {
         width: 1;
         }
      }
   }   
}






 @keyframes svg-animation {
    from{
      box-shadow: 0px 0px 0px 0px $color_main; 
   }
    to{
      box-shadow: 0px 0px 20px 1px $color_main; 
      fill: $color_main;
      background:#fff;
   }
 }

.fon{
   img{
      max-width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      left: 50%;
      transform: translate(-50%,0);
   }
}