@charset "UTF-8";
/*Подключения css-стили*/
/*--------------------*/
/*-Google_Fonts-*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Sansita+Swashed:wght@300;400;700&display=swap");
/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #212121;
}

html p, body p {
  color: #eaeaea;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@media (max-width: 800px) {
  .header__nav {
    display: none;
  }
  .header__mobile__nav {
    display: block !important;
  }
}

@media (max-width: 1100px) {
  .content {
    display: block !important;
  }
  .tradition__item {
    width: 100% !important;
    border-bottom: 1px solid #cccccc;
  }
}

@media (max-width: 600px) {
  .menu__tittle {
    padding-top: 30px !important;
  }
  .menu__tittle h2 {
    font-size: 75px !important;
  }
  .menu__tittle p {
    font-size: 40px !important;
  }
  .footer__row {
    padding: 20px 10px !important;
  }
  .actually__cook {
    background: none !important;
  }
  .actually__cook .actually__cook__text {
    width: 100% !important;
    margin: 0 10px !important;
  }
}

.container {
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background: rgba(78, 83, 66, 0);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header .header__logo {
  height: 100px;
}

.header .header__nav .header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__nav .header__nav__list .header__nav__item {
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  font-size: 30px;
  margin: 0 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header .header__nav .header__nav__list .header__nav__item:hover {
  text-decoration: underline;
}

.header .header__nav .header__nav__list .header__nav__item a {
  color: #afc67b;
}

.header .header__mobile__nav {
  display: none;
}

.header .header__mobile__nav .hamburger {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.header .header__mobile__nav .hamburger span {
  border-radius: 3px;
  margin: 4px 0;
  display: block;
  width: 35px;
  height: 5px;
  background: #fff;
}

.header .header__mobile__nav .mobile__nav__list {
  position: absolute;
  right: 0;
  top: -100vh;
  z-index: 99;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.header .header__mobile__nav .mobile__nav__list:nth-child(2) {
  padding-top: 100px;
}

.header .header__mobile__nav .mobile__nav__list .mobile__nav__item {
  -webkit-box-shadow: inset 0px 0px 20px 1px #afc67b;
          box-shadow: inset 0px 0px 20px 1px #afc67b;
  width: 100%;
}

.header .header__mobile__nav .mobile__nav__list .mobile__nav__item a {
  padding: 20px;
  display: list-item;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 500;
  -webkit-box-shadow: inset 0px 0px 20px 1px #afc67b;
          box-shadow: inset 0px 0px 20px 1px #afc67b;
  color: #afc67b;
}

@-webkit-keyframes mob-nav-animate {
  from {
    top: -500px;
  }
  to {
    top: 100px;
  }
}

@keyframes mob-nav-animate {
  from {
    top: -500px;
  }
  to {
    top: 100px;
  }
}

.content {
  padding-left: 50%;
  padding-top: 100px;
  text-align: center;
  background: url(../img/header_bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
}

.content .tittle {
  text-transform: uppercase;
  color: #afc67b;
  font-family: "Montserrat";
  padding: 80px 0;
}

.content .tittle p {
  font-size: 28px;
  font-weight: 400;
}

.content .tittle h2 {
  font-size: 48px;
  font-weight: bold;
}

.content .header__link {
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 90px;
  font-size: 48px;
  font-family: "Montserrat";
  color: #afc67b;
  background: rgba(78, 83, 66, 0.5);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.content .header__link:hover {
  border: 2px solid #afc67b;
  color: #fff;
  -webkit-box-shadow: inset 320px 0px 0px 0px #afc67b;
          box-shadow: inset 320px 0px 0px 0px #afc67b;
  border-radius: 10px;
}

.what-we-cook {
  padding: 0;
}

.what-we-cook .actually__cook {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 450px;
  background: url(../img/sectionOne2.png) no-repeat 100% 100%;
}

.what-we-cook .actually__cook .actually__cook__text {
  width: 50%;
  margin-left: 5%;
  text-align: left;
}

.what-we-cook .actually__cook .actually__cook__text h2 {
  font-family: "Sansita Swashed", serif;
  font-size: 30px;
  color: #afc67b;
  margin-bottom: 40px;
}

.what-we-cook .actually__cook .actually__cook__text p {
  font-size: 18.75px;
  font-family: "Montserrat", serif;
  color: white;
  line-height: 1.556;
}

.scills__wrap {
  padding: 100px 0px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.scills__wrap .scills__content {
  position: relative;
  top: 0;
  padding: 10px 10px;
  width: 33.3333%;
  min-width: 300px;
  text-align: center;
  color: #eaeaea;
  -webkit-transition: .4s;
  transition: .4s;
}

.scills__wrap .scills__content:hover {
  top: -5px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 1px #afc67b;
          box-shadow: 0px 0px 10px 1px #afc67b;
}

.scills__wrap .scills__content .scills__tittle {
  position: relative;
  padding: 30px 0;
  font-size: 25px;
  font-family: "Sansita Swashed", serif;
}

.scills__wrap .scills__content .scills__subtittle {
  font-size: 16px;
  font-family: "Montserrat", serif;
  line-height: 1.5;
}

.bg-green {
  background: rgba(78, 83, 66, 0.5);
}

.tradition {
  padding: 0;
}

.tradition .tradition__tittle {
  margin-top: 85px;
  padding: 65px 10px;
  text-align: center;
}

.tradition .tradition__tittle h2 {
  font-size: 25.067px;
  font-family: "Sansita Swashed", serif;
  color: #afc67b;
}

.tradition .tradition__tittle p {
  font-size: 16.667px;
  font-family: "Montserrat", serif;
  color: #eaeaea;
  line-height: 1.5;
  text-transform: uppercase;
}

.tradition .tradition__item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-bottom: 85px;
}

.tradition .tradition__item__wrap .tradition__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.tradition .tradition__item__wrap .tradition__item:nth-child(4n+4), .tradition .tradition__item__wrap .tradition__item:nth-child(4n+3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.tradition .tradition__item__wrap .tradition__item h2 {
  padding-top: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: 600;
  font-family: "Sansita Swashed", serif;
  color: #afc67b;
  line-height: 1.33;
  text-align: center;
}

.tradition .tradition__item__wrap .tradition__item p {
  font-size: 25px;
  font-family: "Montserrat", serif;
  color: #eaeaea;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.tradition .tradition__item__wrap .tradition__item img {
  min-width: 50%;
}

.tradition .tradition__item__wrap .tradition__item .tradition__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0 10px;
  font-family: "Sansita Swashed", serif;
}

.tradition .tradition__item__wrap .tradition__item .tradition__item__info h3 {
  font-size: 26px;
  color: #afc67b;
}

.tradition .tradition__item__wrap .tradition__item .tradition__item__info p {
  padding: 25px 0;
  font-size: 16px;
  font-family: "Montserrat", serif;
  color: #e8e8e8;
}

.tradition .tradition__item__wrap .tradition__item .tradition__item__info span {
  font-size: 22px;
  color: #e8e8e8;
  text-transform: uppercase;
}

.keep__things__simple {
  padding-bottom: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.keep__things__simple h2 {
  padding-top: 110px;
  font-size: 41px;
  font-family: "Sansita Swashed", serif;
  color: #afc67b;
}

.keep__things__simple p {
  margin: 0 auto;
  max-width: 700px;
  padding: 35px 0 20px;
  font-size: 20px;
  font-family: "Montserrat", serif;
  color: #dcdcdb;
}

.keep__things__simple span {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #afc67b;
  -webkit-transform: rotate3d(2, 5, -1, 40deg);
          transform: rotate3d(2, 5, -1, 40deg);
}

.discover__menu-bg {
  background: url(../img/keepThingsSimpl_bg.jpg) no-repeat 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  position: relative;
}

.discover__menu-bg::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.discover__menu-bg .discover__menu {
  position: relative;
  z-index: 10;
}

.discover__menu-bg .discover__menu .menu__tittle {
  padding-top: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #e7e7e7;
}

.discover__menu-bg .discover__menu .menu__tittle h2 {
  font-size: 150px;
  font-family: "Sansita Swashed", serif;
}

.discover__menu-bg .discover__menu .menu__tittle p {
  font-size: 60px;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
}

.discover__menu-bg .discover__menu .menu__list {
  padding-bottom: 120px;
}

.discover__menu-bg .discover__menu .menu__list .menu__list__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.discover__menu-bg .discover__menu .menu__list .menu__list__wrap .menu__list__item {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover__menu-bg .discover__menu .menu__list .menu__list__wrap .menu__list__item img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.discover__menu-bg .discover__menu .menu__list .menu__list__wrap .menu__list__item .menu__list__item__info {
  text-align: left;
  color: #e7e7e7;
  max-width: 350px;
  padding-left: 10px;
}

.discover__menu-bg .discover__menu .menu__list .menu__list__wrap .menu__list__item .menu__list__item__info h3 {
  font-size: 22px;
  font-family: "Sansita Swashed", serif;
}

.discover__menu-bg .discover__menu .menu__list .menu__list__wrap .menu__list__item .menu__list__item__info p {
  padding-top: 20px;
  font-size: 16px;
  font-family: "Montserrat", serif;
}

.discover__menu-bg .discover__menu .menu__list .menu__list__wrap .menu__list__item .menu__list__item__info p span {
  color: #fff;
}

.bg__ {
  background: url(../img/bg_03.jpg) no-repeat 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
}

.form__tittle {
  padding: 45px 0;
  font-size: 65px;
  font-family: "Sansita Swashed", serif;
  color: white;
  text-align: center;
}

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__wrap .btn-submit {
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__wrap .btn-submit:hover {
  border: 1px solid #afc67b;
  color: #fff;
  -webkit-box-shadow: inset 230px 0px 0px 0px #afc67b;
          box-shadow: inset 230px 0px 0px 0px #afc67b;
}

.form__wrap .form__item {
  position: relative;
  text-align: center;
  min-width: 30%;
  color: #fff;
  margin-bottom: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.form__wrap .form__item input, .form__wrap .form__item select {
  width: 230px;
  height: 30px;
  padding: 0 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}

.form__wrap .form__item input:internal-autofill-selected, .form__wrap .form__item select:internal-autofill-selected {
  background-color: rgba(0, 0, 0, 0);
}

.form__wrap .form__item input option, .form__wrap .form__item select option {
  color: black;
  background-color: rgba(0, 0, 0, 0);
}

.form__wrap .form__item input:focus, .form__wrap .form__item select:focus {
  background: #afc67b;
  color: #000;
}

.form__wrap .form__item label, .form__wrap .form__item span {
  position: absolute;
  top: -20px;
}

.news .news__tittle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #e7e7e7;
}

.news .news__tittle h2 {
  padding-top: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-weight: 600;
  font-family: "Sansita Swashed", serif;
  color: #afc67b;
  line-height: 1.33;
  text-align: center;
}

.news .news__tittle p {
  font-size: 25px;
  font-family: "Montserrat", serif;
  color: #eaeaea;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.news .news__items {
  position: relative;
  min-width: 0;
  max-width: 1095px;
  margin: 0 auto;
  height: 515px;
  overflow: hidden;
}

.news .news__items .news-item__wrap {
  min-width: 0;
  width: 340px !important;
  margin: 10px;
  background-color: #eaeaea;
  font-family: "Montserrat", serif;
  color: #555555;
  text-align: left;
}

.news .news__items .news-item__wrap img {
  min-width: -webkit-fill-available;
}

.news .news__items .news-item__wrap .news-item__time {
  padding: 25px 25px;
  font-size: 14px;
  font-weight: bold;
}

.news .news__items .news-item__wrap .news-item__tittle {
  padding: 0px 25px 10px;
  font-size: 16.667px;
  font-weight: bold;
}

.news .news__items .news-item__wrap .news-item__subtittle {
  padding: 0 25px;
  font-size: 16.667px;
}

.news .news__items .news-item__wrap .news-item__btn a {
  margin: 25px 25px 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Montserrat", serif;
  color: #555555;
  font-weight: bold;
  line-height: 2.357;
  text-align: left;
  -webkit-transition: .2s;
  transition: .2s;
}

.news .news__items .news-item__wrap .news-item__btn a:hover {
  border-bottom: 4px solid #afc67b;
}

.social__media {
  margin: 30px auto;
  text-align: center;
}

.social__media .social__tittle {
  font-size: 83.333px;
  font-family: "Sansita Swashed", serif;
  color: #afc67b;
  text-align: left;
  width: 31px;
  height: 24px;
}

.social__media .social__text {
  max-width: 700px;
  margin: 20px auto;
  font-size: 18px;
  font-family: "Montserrat", serif;
  color: #aac078;
}

.social__media .social__text span {
  padding-top: 20px;
  font-size: 29px;
  font-family: "Sansita Swashed", serif;
  color: #afc67b;
  line-height: 1.143;
}

.social__media .social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__media .social__icon svg {
  cursor: pointer;
  margin: 0 20px;
  height: 50px;
  width: 50px;
  fill: #eaeaea;
  border-radius: 50%;
}

.social__media .social__icon svg:hover {
  -webkit-animation: svg-animation .4s forwards;
          animation: svg-animation .4s forwards;
}

.footer .footer__row {
  padding: 70px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer__row p {
  max-width: 340px;
  padding-bottom: 20px;
}

.footer .footer__row a {
  font-size: 18.75px;
  font-family: "Montserrat", serif;
  color: #e7e7e7;
  line-height: 1.556;
  text-align: left;
  -webkit-transition: .4s;
  transition: .4s;
}

.footer .footer__row a:hover {
  text-decoration: underline;
  color: #afc67b;
}

.footer .footer__row .footer-row__col {
  margin: 0 20px;
}

.footer .footer__row .footer-row__col .footer__col__tittle {
  margin: 50px 0;
  font-size: 25px;
  font-family: "Montserrat", serif;
  color: #e7e7e7;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.333;
  text-align: left;
}

.footer .footer__row .footer-row__col .footer__col__text {
  font-size: 18.75px;
  font-family: "Montserrat", serif;
  color: #e7e7e7;
  line-height: 1.556;
  text-align: left;
}

.footer .footer__row .footer__col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__row .footer__col-left .footer__col__item {
  width: 1;
}

@-webkit-keyframes svg-animation {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #afc67b;
            box-shadow: 0px 0px 0px 0px #afc67b;
  }
  to {
    -webkit-box-shadow: 0px 0px 20px 1px #afc67b;
            box-shadow: 0px 0px 20px 1px #afc67b;
    fill: #afc67b;
    background: #fff;
  }
}

@keyframes svg-animation {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #afc67b;
            box-shadow: 0px 0px 0px 0px #afc67b;
  }
  to {
    -webkit-box-shadow: 0px 0px 20px 1px #afc67b;
            box-shadow: 0px 0px 20px 1px #afc67b;
    fill: #afc67b;
    background: #fff;
  }
}

.fon img {
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/*# sourceMappingURL=style.css.map */
